*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    width: 100%;
}
form > fieldset{
    width: auto;
    display: flex;
    justify-content: space-around;
}
#resultado{
    max-width: 100%;
    height: fit-content;
    max-height: 85vh;

    border-radius: 10px;
    border: 2px dashed darkgrey;

    overflow-x: auto;
    overflow-y: auto;

    transition: 1s;
}

#card-exp{
    max-width: 100%;
    height: fit-content;
    max-height: 60vh;

    border-radius: 10px;
    border: 2px dashed darkgrey;

    overflow-x: auto;
    overflow-y: auto;

    transition: 1s;
}

table, td, th{
    text-align: center;
}
.info{
    width: auto;
    margin: auto;
    text-align: center;
}
.info.warning{
    background-color: lightcoral;
}
.info.success{
    background-color: greenyellow;
}

.container{
    margin-top: 10px;
}
